.pagination {
  margin: 26px 0 !important;
  text-align: center;
}

.spinner {
  font-size: 70px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.alert{
  width: 55%;
  text-align: center;
  font-size: 18px !important;
  margin: 50px auto !important;
}